<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/admin-layout}">
<head><title>Edit Category</title></head>

<body>

<div layout:fragment="content">

    <h3 class="fw-bold mb-4">Edit Category</h3>

    <form th:action="@{/admin/update-category}" th:object="${category}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" th:field="*{name}">
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" rows="4" th:field="*{description}"></textarea>
        </div>

        <button class="btn btn-primary">Update</button>

    </form>

</div>

</body>
</html>
